@model MVCTreeSP.Models.Node

<div> NodeName</div>
<div>
    @Html.TextBoxFor(m => m.NodeName)
</div>
<div> ParentNodeId</div>
<div>
    @Html.TextBoxFor(m => m.ParentNodeId)
</div>
<div> StartDate</div>
<div>
    @Html.TextBoxFor(m => m.StartDate)
</div>

<div>
    <input type="submit" value="Submit" />
</div>

