@model MVCTreeSP.Models.Node
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditTree</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <div> NodeName</div>
            <div>
                @Html.TextBoxFor(m => m.NodeName)
            </div>
            <div> ParentNodeId</div>
            <div>
                @Html.TextBoxFor(m => m.ParentNodeId)
            </div>                     
            <div> StartDate</div>
            <div>
                @Html.TextBoxFor(m => m.StartDate)
            </div>

            <div>
                <input type="submit" value="Click" />
            </div>
        </div>
    }
</body>
</html>
